@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-slate-50;
}

.stack {
    display: inline-grid;
        place-items: center;
        align-items: flex-end;
}

.stack> :nth-child(1) {
    transform: translateY(-5%) scale(1);
    z-index: 3;
    opacity: 1;
}

.stack> :nth-child(2) {
    transform: translateY(10%) scale(.95);
    z-index: 2;
    opacity: .8;
}
.stack>* {
    grid-column-start: 1;
    grid-row-start: 1;
    /* transform: translateY(10%) scale(.9); */
    z-index: 1;
    width: 100%;
    opacity: .6;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}